%div{id: "main", class: "container-fluid clear-top"}
  %div{class: "container-fluid"}
    - if @meeting.presentation_viewer_url
      %iframe{src: @meeting.presentation_viewer_url, width: "100%", height: 600, class: :preview}
      = link_to "Hide Preview", "", class: :hide_preview
    - else
      %h2 No Screen Share Available At The Moment

- if current_user
  = @meeting.presentation_applet_html


%div{class: "navbar navbar-fixed-bottom"}
  #session{"data-session-ident" => "#{@meeting.session_ident}"}
    #publisher1{style: "float: left;"}
    #publisher2{style: "float: right;"}

:javascript
  $(document).ready(function() {
    initSession();
    connectSession("#{@api_key}", "#{@token}");

    var notHidden = true;
    $(".hide_preview").click(function(e) {
      e.preventDefault();

      if (notHidden) {
        $(this).text("Show Preview");
        notHidden = false;
      } else {
        $(this).text("Hide Preview");
        notHidden = true;
      }

      $(".preview").toggle();
    });
  });