= form_for @meeting do |f|
  %fieldset
    %legend Meeting Details
    = f.label :name
    = f.text_field :name

    = f.label :max_size, "Number of people allowed in meeting: (max 4)"
    = f.text_field :max_size
    %br
    = f.submit "Create Room", class: :btn